## Data Science Methodology With Decision Trees and Clustering

Python and Pandas version of https://gist.github.com/polong-lin/272fa27c135da785e29b5ef3628692ae

### Download the data file

In [40]:
import os
import pprint

from sklearn.cluster import KMeans
import pandas as pd
import requests


fname = 'recipes.csv'
if not os.path.isfile(fname):
    data_url = 'https://ibm.box.com/shared/static/5wah9atr5o1akuuavl2z9tkjzdinr1lv.csv'
    response = requests.get(data_url)
    if response.ok:
        fp = open(fname, 'w')
        fp.write(response.content)
        fp.close()
        print 'Data file downloaded'

### Load data in a dataframe

In [27]:
df = pd.read_csv('recipes.csv')
df.head()

,country,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
1,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
2,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
3,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
4,Vietnamese,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No

### Number of rows and columns

In [21]:
print 'Rows: {}'.format(len(df.index))
print 'Columns: {}'.format(len(df.axes[1]))

Rows: 57691
Columns: 384

### Filter ingredients

In [23]:
print df.filter(regex='rice').axes[1].values

['brown_rice' 'licorice' 'rice']

In [14]:
print df.filter(regex='wasabi').axes[1].values

['wasabi']

In [15]:
print df.filter(regex='soy').axes[1].values

['soy_sauce' 'soybean' 'soybean_oil']

### Recipes frequency table

In [17]:
df['country'].value_counts()

American                 40150
Mexico                    1754
Italian                   1715
Italy                     1461
Asian                     1176
French                     996
east_asian                 951
Canada                     774
korean                     767
Mexican                    622
western                    450
Southern_SoulFood          346
India                      324
Jewish                     320
Spanish_Portuguese         291
Mediterranean              289
UK-and-Ireland             282
Indian                     274
France                     268
MiddleEastern              248
Central_SouthAmerican      241
Germany                    237
Eastern-Europe             235
Chinese                    226
Greek                      225
English_Scottish           204
Caribbean                  183
Thai                       164
Scandinavia                158
Cajun_Creole               146
                         ...
Scandinavian                92
chinese                     86
Irish                       86
Japan                       85
Spain                       75
italian                     74
Vietnamese                  65
North-African               60
German                      52
Portugal                    50
Philippines                 43
Netherlands                 32
Korea                       32
Lebanon                     31
Vietnam                     30
Austria                     21
Iran                        21
Switzerland                 20
Pakistan                    19
Malaysia                    18
asian                       17
South-African               16
Turkey                      16
mexico                      14
West-African                13
Indonesia                   12
East-African                11
Belgium                     11
Israel                       9
Bangladesh                   4
Name: country, dtype: int64

### Clean data

In [30]:
def rename_country(value):
    country_mapping = {
        'china': 'chinese',
        'france': 'french',
        'germany': 'german',
        'india': 'indian',
        'israel': 'jewish',
        'italy': 'italian',
        'japan': 'japanese',
        'korea': 'korean',
        'mexico': 'mexican',
        'scandinavia': 'scandinavian',
        'thailand': 'thai',
        'vietname': 'vietnamese',
    }
    return country_mapping.get(value, value)

df['country'] = df['country'].str.lower()
df['country'] = df['country'].apply(rename_country)
df.replace('Yes', 1, inplace=True)
df.replace('No', 0, inplace=True)

### Most popular ingredients

In [31]:
df[df > 0].count(axis=0).sort_values(axis=0, ascending=False).drop('country')

egg                 21114
wheat               20896
butter              20814
onion               18205
garlic              17465
milk                12925
vegetable_oil       11189
cream               10194
tomato               9978
olive_oil            9923
black_pepper         9893
pepper               9282
vanilla              9040
cayenne              8303
vinegar              8097
cane_molasses        7770
bell_pepper          6006
cinnamon             5639
parsley              5579
chicken              5483
lemon_juice          5099
beef                 4946
corn                 4836
cocoa                4807
scallion             4798
bread                4596
ginger               4396
mustard              4125
rice                 3888
basil                3845
                    ...
chamomile               3
roasted_almond          3
rapeseed                3
hop                     3
holy_basil              3
long_pepper             2
strawberry_juice        2
raw_beef                2
sheep_cheese            2
laurel                  2
red_algae               2
jasmine_tea             2
soybean_oil             2
pimenta                 2
roasted_pecan           1
roasted_nut             1
angelica                1
roasted_hazelnut        1
mate                    1
pelargonium             1
sturgeon_caviar         1
muscat_grape            1
beech                   1
strawberry_jam          1
durian                  1
lilac_flower_oil        1
emmental_cheese         1
jamaican_rum            1
geranium                1
kaffir_lime             1
dtype: int64

### Canadian Food

In [35]:
recipes_df = df.country.value_counts().to_frame(name='total')
recipes_df = recipes_df[recipes_df.total >= 50]
recipes_df.sort_index(inplace=True)
countries = recipes_df.index.values
sum_df = df[df.country.isin(countries)].groupby(by=['country']).sum()
norm_df = sum_df.apply(lambda k: k / recipes_df.total)
norm_df.loc['canada'].sort_values(ascending=False).head()

wheat     0.395349
butter    0.381137
egg       0.354005
onion     0.343669
garlic    0.270026
Name: canada, dtype: float64

### Top 3 ingredients for each country

In [36]:
for country in norm_df.index:
    print country
    print norm_df.loc[country].sort_values(ascending=False).head()[:3] * 100
    print ''

african
onion        53.043478
olive_oil    52.173913
garlic       49.565217
Name: african, dtype: float64

american
butter    41.158157
egg       40.513076
wheat     39.840598
Name: american, dtype: float64

asian
soy_sauce    49.622800
ginger       48.616932
garlic       47.946354
Name: asian, dtype: float64

cajun_creole
onion      69.863014
cayenne    56.164384
garlic     48.630137
Name: cajun_creole, dtype: float64

canada
wheat     39.534884
butter    38.113695
egg       35.400517
Name: canada, dtype: float64

caribbean
onion            51.366120
garlic           50.819672
vegetable_oil    31.147541
Name: caribbean, dtype: float64

central_southamerican
garlic     56.846473
onion      54.356846
cayenne    51.867220
Name: central_southamerican, dtype: float64

chinese
soy_sauce    68.552036
ginger       53.393665
garlic       52.941176
Name: chinese, dtype: float64

east_asian
garlic       55.205047
soy_sauce    50.368034
scallion     49.526814
Name: east_asian, dtype: float64

eastern-europe
wheat     53.191489
egg       52.340426
butter    48.085106
Name: eastern-europe, dtype: float64

easterneuropean_russian
butter    60.273973
egg       50.684932
wheat     49.315068
Name: easterneuropean_russian, dtype: float64

english_scottish
butter    67.156863
wheat     62.254902
egg       53.431373
Name: english_scottish, dtype: float64

french
butter    50.079114
egg       44.145570
wheat     37.341772
Name: french, dtype: float64

german
wheat     64.705882
egg       60.553633
butter    47.404844
Name: german, dtype: float64

greek
olive_oil    76.000000
garlic       44.444444
onion        36.444444
Name: greek, dtype: float64

indian
cumin       60.367893
turmeric    50.836120
onion       49.832776
Name: indian, dtype: float64

irish
butter    59.302326
wheat     50.000000
egg       46.511628
Name: irish, dtype: float64

italian
olive_oil    60.615385
garlic       52.584615
tomato       39.230769
Name: italian, dtype: float64

japanese
soy_sauce    56.875
rice         44.375
vinegar      36.875
Name: japanese, dtype: float64

jewish
egg       58.662614
wheat     49.240122
butter    31.003040
Name: jewish, dtype: float64

korean
garlic      59.073842
scallion    52.440551
cayenne     51.689612
Name: korean, dtype: float64

mediterranean
olive_oil    79.584775
garlic       50.519031
onion        38.754325
Name: mediterranean, dtype: float64

mexican
cayenne    73.514644
onion      68.493724
garlic     62.092050
Name: mexican, dtype: float64

middleeastern
olive_oil    60.080645
garlic       46.774194
wheat        37.903226
Name: middleeastern, dtype: float64

moroccan
olive_oil    72.992701
cumin        54.744526
onion        49.635036
Name: moroccan, dtype: float64

north-african
onion        55.000000
olive_oil    50.000000
cumin        48.333333
Name: north-african, dtype: float64

portugal
onion     46.0
garlic    42.0
egg       36.0
Name: portugal, dtype: float64

scandinavian
butter    64.0
wheat     58.0
egg       52.8
Name: scandinavian, dtype: float64

south-america
onion     42.718447
garlic    36.893204
egg       34.951456
Name: south-america, dtype: float64

southern_soulfood
butter    57.803468
wheat     48.554913
egg       41.618497
Name: southern_soulfood, dtype: float64

southwestern
cayenne    81.481481
garlic     62.037037
onion      61.111111
Name: southwestern, dtype: float64

spain
onion        61.333333
olive_oil    57.333333
garlic       50.666667
Name: spain, dtype: float64

spanish_portuguese
olive_oil    62.886598
garlic       57.388316
onion        43.298969
Name: spanish_portuguese, dtype: float64

thai
garlic     59.861592
fish       52.941176
cayenne    47.058824
Name: thai, dtype: float64

uk-and-ireland
wheat     60.638298
butter    59.574468
egg       48.581560
Name: uk-and-ireland, dtype: float64

vietnamese
fish      78.461538
garlic    72.307692
rice      47.692308
Name: vietnamese, dtype: float64

western
egg       51.333333
wheat     46.222222
butter    46.000000
Name: western, dtype: float64

### Similar cuisines

In [41]:
kmeans = KMeans(init='k-means++', n_clusters=9, n_init=10, max_iter=10)
kmeans.fit(norm_df)
labels = kmeans.labels_

groups = {}
for index, label in enumerate(labels):
    if label not in groups:
        groups[label] = []
    groups[label].append(countries[index])

pprint.pprint(groups)

{0: ['indian'],
 1: ['american',
     'canada',
     'eastern-europe',
     'easterneuropean_russian',
     'english_scottish',
     'french',
     'german',
     'irish',
     'jewish',
     'scandinavian',
     'southern_soulfood',
     'uk-and-ireland',
     'western'],
 2: ['greek', 'italian', 'mediterranean'],
 3: ['east_asian', 'korean'],
 4: ['cajun_creole', 'central_southamerican', 'mexican', 'southwestern'],
 5: ['african', 'middleeastern', 'moroccan', 'north-african'],
 6: ['thai', 'vietnamese'],
 7: ['asian', 'chinese', 'japanese'],
 8: ['caribbean', 'portugal', 'south-america', 'spain', 'spanish_portuguese']}